<nav>
    <ul>
        <li>
            <a href='/api/products'>Products</a>
        </li>
        <li>
            <a href='/api/sessions/profile'>Profile</a>
        </li>
        <li>
            <form action='/api/sessions/logout' method='POST'>
                <button type='submit'>Logout</button>
            </form>
        </li>
    </ul>
</nav>
<h1>Welcome, {{first_name}}!</h1>
<p>Your registered email is: {{email}}</p>