<html lang='en'>

<head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
</head>


<body>

    <div>
        {{> navbar}}
    </div>
    <h1>Cart Details</h1>

    <ul>
        <li>
            <p>CART ID : {{cart._id}}</p>
        </li>
        {{#each cart.products}}
        <li>
            <h2>{{this.product.title}}</h2>
        </li>
        <li>
            <p>Quantity: {{this.quantity}}</p>
        </li>
        <li>
            <p>Price: ${{this.product.price}}</p>
        </li>
        {{/each}}
    </ul>

</body>

</html>