<nav>
    <ul>
        <li><a href='/api/products'>Products</a></li>
        <li><a href='/api/sessions/profile'>Profile</a></li>
        <li><a href='/api/sessions/logout'>Logout</a></li>
    </ul>

</nav>
<h1>Welcome, {{first_name}}!</h1>
<p>Your registered email is: {{email}}</p>