<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        {{> navbar}}
        <div>
            <form id="premium-form">
                <label for="premium">Premium</label>
                <input type="checkbox" id="premium" name="premium" {{#if premium}}checked{{/if}}>
                <input type="submit" value="Accept T&C">
            </form>
        </div>
        <div>
            <form action='/api/sessions/logout' method='POST'>
                <button type='submit'>Logout</button>
            </form>
        </div>
    </div>

    <h1>Welcome, {{first_name}}!</h1>
    <p>{{email}}</p>

    <script src="/js/premiumToggler.js"></script>
</body>

</html>