<nav>
  <ul>
    <li><a href='/api/products'>Products</a></li>
    <li><a href='/api/sessions/login'>Login</a></li>
    <li><a href='/api/sessions/signup'>Signup</a></li>
    <li><a href='/api/sessions/profile'>Profile</a></li>
    <li><a href='/api/sessions/users'>Users</a></li>
    <li><a href='/api/carts'>Carts</a></li>
    <li><a href='/api/chats'>Chat</a></li>
    <li><a href='/api/docs'>Docs</a></li>
    <li><a href='/api/sessions/current'>Current</a></li>
    <li><a href='/api/sessions/users'>users manager</a></li>
  </ul>
</nav>